.spinning-logo {
  animation: spin 25s linear infinite;    
  transform-origin: center;
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.logo-name {
  height: 2rem !important;
  
}


body{
  position: relative;
  left:0;
  right:0;
  top:0;
  bottom: 0;   
  
  background-color: rgb(200, 251, 235);
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;;
}
@keyframes example {
  0% {background-color: rgb(200, 251, 235);}
  50% {background-color: rgba(95, 19, 154, 0.432);}
  100% {background-color: rgb(200, 251, 235);}
}

#content {
  margin-left : 2rem !important;
  margin-top: 3rem;
  margin-right: 2rem !important;
}

/* Media query for screens larger than 48em */
@media (min-width: 48em) {
  /* Adjust styles for larger screens */

  /* Set margins of the main content so that it doesn't overlap the sidebar */
  #content {
    margin-left: 5rem;
    margin-right: 2rem;
    transition: margin-left 0.3s ease-in-out;
  }
}

/* Media query for screens smaller than 48em */
@media (max-width: 48em) {
  /* Adjust styles for smaller screens */

  /* Reset margins of the main content to fit the screen */
  #content {
    margin-left: 1rem;
    margin-right: 1rem;
    transition: margin-left 0.3s ease-in-out;
  }

  /* Show the blurb */
  #blurb {
    display: block;
  }

  .header {
    height: auto;
    right: 0 !important;
  }


}

/* Media query for screens smaller than 30em */
@media (max-width: 30em) {
  /* Adjust styles for even smaller screens, such as phone screens */

  /* Shrink the spinning logo */
  .spinning-logo {
    
    height: 1px;
  }

  .logo-name {
    height : 5px;

  }


}

